.home {
    display: flex;
    width: 80%;
    flex-flow: row wrap;
    margin-left: 15%;
    padding-top: 100px;
}

.pro-div {
    flex: 0 0 20%;
    height: 200px;
    border: 1px black solid;
    margin: 10px;
}

.pro-name {
    margin-top: 100px;
}
.link-order{
    text-decoration:none;
}

.cart{
    margin-left: 93%;
    margin-bottom: 30px;
}

.cartImg{
    height:30px;
    margin-right:5px;
}

.cartNum{
    font-size:26px;
    color: black;
}

.modal-body {
    color: black;
    text-align: center;
}

.btn-group {
    margin: 48px 0;
}

.btn-group button {
    font-size: 18px;
    width: 106px;
    height: 40px;
    border-radius: 4px;
    box-shadow: 0 6px 16px 0 rgba(0, 0, 0, 0.12);
    margin: 0 8px;
}

.btn-group button:first-child {
    color: #FFFFFF;
    background-color: #4f4fdf;
}

