table, td, th {
    border: 1px solid green;
}

th {
    background-color: cornflowerblue;
    color: white;
    width:100px;
}

.order{
    width:80%;
    margin-left:20%;
    margin-top:50px;
}